body{
	background-color: white;
}
#mainheader{
	background-image: url("../img/bike6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
    text-align:center;
    padding:10px;
    font: 20px Georgia;
    color: white;
    text-decoration: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul li {
	float: left;
}
li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: DarkGray;
	display: inline;
	padding: 8px;
}
article{
	font: normal bold 14pt 'Open Sans';
	font-color: lightgray;
	padding: 30px;
	text-align: left;
}
footer, footer a, footer a:visited{
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: #909090;
   opacity: .7;
   font: normal bold 18pt arial;
   color: white;
   padding: 10px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #990066;
}
a:visited{
	color:#808080;
}
a:visited:hover{
	color:#990066;
}
a:active{
	color: yellow;
}